.header-logo{
  width: 328.125px;
  height: 175px;
}

.nameplate{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  a{
    display: inline-block;
  }
}

.content{
  margin-top: 20px;
}

.section-break{
  margin: 0 0 20px;
  border-bottom: 2px solid #990033;
  h2{
    padding: 0.25em 0 0;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.newsreel{
  margin-right: 2%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

a.is-move-red{
  color: $move-red;
}

a.is-move-hover-red:hover{
  color:$move-red;
}

a.is-black{
  color: black;
}

div.meta-box {
  padding: 0.5em 0;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-top: 4px solid #990033;
}

.story-body{
  line-height: 1.6em;
  margin-bottom: 1em;
  font-size: 1.1em;
  /* font-family: Droid Serif, serif; */
  font-family: 'Muli', sans-serif;
}

h2.sectionlabel {
  background: #474747;
  border-bottom: 2px solid #2F7A32;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  padding: 3px 7px;
  text-transform: uppercase;
}

.sm-logos{
  height:50px;
  width:50px;
  display:inline-block;
}

.main-photo-wrapper{
  margin-bottom: 25px;
}

.main-photo{
  height:100%;
  //max-width: 900px;
}

.photo-caption-wrapper{
  width: 100%;
  //height: 7%;
  color: white;
}

.photo-caption{
  font-size: 1.5em;
  a:hover{
    color:black
  }
}

.flex-column-end{
  flex-flow: column;
  justify-content: flex-end;
}

.story-gallery-wrapper{
  display:flex;
  justify-content: center;
}



//slick dots
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots {
  position: absolute;
  top: 0;
  right:0;
  list-style: none;
  display: block;
  text-align: right;
  padding: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-dots li.slick-active button:before {
  color: #990033;
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 40px;
  height: 40px;
  font-family: "slick";
  font-size: 40px;
  line-height: 20px;
  text-align: center;
  color: #990033;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.story-gallery{
  width:900px;
}

.slick-track > div{
  flex:1
}