.staff{
  h2 {
    font-size: 18px;
    font-family: Montserrat, Georgia, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
  }
  ul{
    margin-left:0;
  }
  .meta{
    background: #eee;
    margin-left: 2%;
  }
  h1{
    font-size: 36px;
    font-family: Montserrat, Georgia, sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    line-height: 1.25em;
  }
}