.infopage{
  p{
    font-size: 16px;
    line-height: 1.5em;
    color: #000000;
    margin: 16px 0;
  }
  h2{
    border-bottom: 2px solid #f1f1f1;
    font-size: 20px;
    margin-bottom: 1em;
    color: #474747;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: 2px;
    font-weight: bold;
  }
  h4{
    border-bottom: 2px solid #f1f1f1;
    color: #474747;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-transform: uppercase;
    word-spacing: 2px;
    font-weight:bold;
  }
}