label.checkbox{
  //margin-left: 30px;
}
label{
  text-align: left !important;
}

.wideTextField{
  width: 750px;
}


.field-group{
  border: .2rem solid #f7f7f9;
  display:inline-block;
  margin-bottom: 1rem;
}


.form-container{
  margin-bottom:60px;
}
.select2{
  width:100% !important;
}

#storyForm{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
}

.content ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

//.checkbox input[type=checkbox] {
//  display: block;
//}