.main-picture{
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column;

}

.main-picture-wrap{
  display: flex;
  justify-content: center;
  img{
    max-height: 450px;
    max-width: 900px;
  }
}

.centerImage{
  width: 100%;
  justify-content: center;
}

.nameplate{
  width: 50%;
}

.archive-image{
  max-width: 293px;
  max-height: 293px;
}

.front-page-image{
  max-width: 300px;
  max-height: 200px;
  display: block;
}

#first-image{
  max-width: 600px;
  max-height: 400px;
}

.smaller-front-image{
  max-width: 180px;
  max-height: 180px;
}

.med-front-image{
  max-width: 280px;
  max-height: 190px;
}

#top_story_3{
  display: flex;
  align-items: center;
  img{
    margin-right: 10px;
  }
  padding-right: 2%;
  border-top: 1px solid #e6e6e6;
  padding-top: 1em;
  padding-bottom: 1em;
  border-right: 1px solid #e6e6e6;
}

#top_story_4{
  display: flex;
  align-items: center;
  img{
    margin-right: 10px;
  }
  padding-right: 2%;
  border-top: 1px solid #e6e6e6;
  padding-top: 1em;
  padding-bottom: 1em;
  border-right: 1px solid #e6e6e6;
}

#top_story_0{
  padding-right: 2%;
  border-right: 1px solid #e6e6e6;
  padding-bottom: 1em;
}

#top_story_2{
  margin-left: 2%;
  margin-top: 1em;
  border-top: 1px solid #e6e6e6;
  padding-top: 1em;
}

.front-page-images{
  object-fit: cover
}

.section-image{
  object-fit: cover;
  max-height:300px;
}

.issu-img{
  height:400px;
}

.main-photo-wrapper{
  //position: relative;
  //width: 900px;
  //height: 506px;
  //display: inline-flex;
  max-height:900px;
  margin-bottom: 25px;
}

.main-photo-wrapper-fix{
  display: flex;
  flex-flow: column;
  height: auto !important;
}

.main-photo{
  //height:100%;
  object-fit: contain;
  max-width: 900px;
}

.photo-caption-wrapper{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  //height: 7%;
  background-color: black;
  color: white;
  opacity: .8;
  filter: alpha(opacity=80);
  display:inline-block;
}

.photo-caption{
  font-size: 1.5em;
}