.pagination-links .pagination .pagination-list{
  margin-top:0;
  list-style: none;
  li{
    margin-top: 0;
  }
}
.pagination-links a{
  color: #2F7A32;
}
.p-content{
  width:75%;
}

.pagination-link.is-current {
  background-color: #2F7A32;
  border-color: #2F7A32;
  color: white;
}