.articleInfo{
  justify-content: flex-end;
  flex-flow:column;
  text-align: right;
}
.story a {
  color: #000;
}
.story h2{
  font-family: Lora;
  font-size: 1.75em;
  color: #474747;
  margin: 0;
  padding: 0;
}
.story{
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.substory h1 a{
  color: black;
}
.substory{
  padding-bottom: 20px;
}

h2.sectionlabel {
  background: #474747;
  border-bottom: 2px solid #2F7A32;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  padding: 3px 7px;
  text-transform: uppercase;
  margin-bottom:0;
  margin-top: 15px;
}
.sectionbox {
  background: #f1f1f1;
  padding: 10px;
}
.issu{
  display: flex;
  justify-content: space-between;
}

.sectionlist li{
  padding: 0.75em 0 0;
}

.tags, .share{
  font-weight: bold;
  margin: 1em 0;
  font-size: 16px;
  font-family: "Roboto Condensed";
}

.sharevia {
  border-bottom: 2px solid #f1f1f1;
  color: #474747;
  font-size: 20px;
}

#comments{
  h5 {
    background: #474747;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    text-transform: uppercase;
  }

  .commenttime {
    background: #f1f1f1;
    border-top: 2px solid #959595;
    color: #474747;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 4%;
    padding: 0;
    text-align: right;
    text-transform: uppercase;
    width: 20%;
  }

  .commentbody {
    border-top: 2px solid #f1f1f1;
  }
}

#commentpost{
  margin-top: 20px;

  h5 {
    background: #474747;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    line-height: 1.5em;
  }

  form {
    display: block;
    margin-top: 0;
  }

  div.formpadding {
    background: #f1f1f1;
    padding: 2px 5px;
  }

}
